p.
	This handler allows you to remove commands.
	#[br]
	It is only usable by the broadcaster and moderators of the channel, no matter if you select "Only Mods" or not.
	#[br]
	Command or handler settings are preserved and can be recovered by re-adding a command.
	#[br]
	Attempting to remove a non-existant command will still yield a message.

h3 Examples:
br
pre
	b User:
	|  !delcom !test
	br
	b #{Mikuia.settings.bot.name}:
	|  Command "!addcom" probably removed!
	br
	b User:
	|  !test