p.
	This handler shows you the current uptime of a stream.
	#[br]
	It's based on the periodical channel updates running every few minutes, so it might fail when used too soon after starting the stream.
	#[br]
	It may also say the stream is still up for a short time after it ends.
h3 Examples:
br
pre
	b User:
	|  !uptime
	br
	b #{Mikuia.settings.bot.name}:
	|  Uptime: 3h 4m 34s