p.
	This handler allows users to check their Mikuia Level on your channel.
	#[br]
	It does not allow to check levels of other users.
h3 Examples:
br
pre
	b User:
	|  !level
	br
	b #{Mikuia.settings.bot.name}:
	|  User: #3 - Lv 17 (6351 / 6968 XP)