b.
	Please use coins.command instead.
p.
	This handler shows the balance of user's coins.
	#[br]
	It will ignore any arguments added after the command name.
h3 Examples:
br
pre
	b User:
	|  !balance
	br
	b #{Mikuia.settings.bot.name}:
	|  User: 45 Coins.