.align-center {
	text-align: center;
}

.avatars {
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

.avatars > ul {
	height: 100%;
	list-style: none;
	padding: 0;
	position: absolute;
	right: -64px;
	top: 0;
}

.avatars > ul > li {
	float: left;
	margin: 0;
	opacity: 0.3;
	padding: 0;
}

.login > .avatars {
	z-index: -10;
}

.blackbox {
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 10px black;
	height: 225px;
	max-height: 300px;
	overflow: hidden;
	padding: 20px;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.blackbox-buttons {
	bottom: 20px;
	position: absolute;
}

.btn-twitch {
	background-color: #6441A5;
	color: white;
}

.card {
	height: 220px;
	margin: 5px;
	overflow: hidden;
	padding: 4px;
	text-overflow: ellipsis;
	width: 270px;
	white-space: nowrap;
}

.featured h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

.featured h1 {
	font-size: 50px;
}

.featured h1 > small {
	color: #ccc;
	font-size: 24px;
}

.featured h4 {
	color: #aaa;
}

.featured h6 {
	color: #999;
	font-weight: bold;
}

a.navbar-brand {
	color: white;
	padding-top: 13px;
}

.navbar-mikuia {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
}

.navbar-mikuia .navbar-nav > li.active > a, 
.navbar-mikuia .navbar-nav > li.active > a:hover,
.navbar-mikuia .navbar-nav > li.active > a:focus,
.navbar-mikuia .navbar-nav > li > a:hover,
.navbar-mikuia .navbar-nav > li > a:focus {
	background-color: #b19dff;
	color: #ffffff;
}

.splash {
	background-color: #7a62d3;
	background-image: -webkit-linear-gradient(top, #7a62d3, #000000);
	background-image:    -moz-linear-gradient(top, #7a62d3, #000000);
	background-image:      -o-linear-gradient(top, #7a62d3, #000000);
	background-image:         linear-gradient(to bottom, #7a62d3, #000000);
	box-shadow: 0px 0px 50px black;
	color: #fff;
	height: 12em;
	margin-bottom: 2em;
	padding-top: 6em;
}

.splash > .avatars {
	max-height: 12em;
}

.splash-index {
	height: 24em;
}

.splash-index > .avatars {
	max-height: 24em;
}