extends layout

block content
	.splash
		.avatars
			ul
				each avatarFile in Mikuia.Tools.getAvatars(500)
					li
						img(src='/img/avatars/' + avatarFile, width='64', height='64')
		.container
			.row
				.col-md-12
					h1 Donate
	.container
		.row
			.col-md-9
				h4
					| Well, hello there!
					br
					| If you're here, it means you have interest in supporting the project!
					br
					| This page aims to clarify how everything works, and why it works like it does.

				br

				.text-danger
					h2
						i.fa.fa-times
						|  You don't get any premium features for donating.

				br

				h4
					| What does it mean? It's pretty simple. I am NEVER going to charge for basic features.
					br
					| All the useful features will always be free. No command limits, no premium content.
					br
					| Everything is available for everyone for free, and will always be.
					br
					| As you might imagine, that makes it very hard to come up with non-overpowered donator perks.
					br
					| Anyways, here's what I figured out for now, if you have any nice ideas, be sure to let me know.

				br

				.text-success
					h2
						i.fa.fa-users
						|  Mikuia will join your channel even if you are offline.
					p
						| Normally, Mikuia checks for new streams going live every 2-5 minutes, and joins those chats soon after.
						br
						| This perk makes her join the channel always, not only when you go live, so your viewers can use commands even if you're offline.

					h2
						i.fa.fa-trophy
						|  I will personally join your chat every time I'm at the computer.
					p
						| Any problems? You'll be able to just say my name on your chat and I'll respond ASAP.
						br
						| Isn't that kind of awesome?

					h2
						i.fa.fa-star-o
						|  You get an absolutely pointless donator badge...
					p
						| Um... yeah. It's pointless, but shiny!

				| More perks to come... someday... probably.

			.col-md-3
				.alert.alert-warning
					strong Keep in mind.
					p 
						| All the donator perks are made available only from the donations of at least $10.
						br
						| Also, make sure to write your Twitch name in the message!

				a.btn.btn-primary(href='https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=psqmaxor%40gmail%2ecom&lc=GB&item_name=Mikuia&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted', style='width: 100%;') Donate via PayPal!
				br
				br
				a.btn.btn-danger(href='http://patreon.com/maxorq', style='width: 100%;') Support on Patreon!
				br
				br

				if user
					.panel.panel-default
						.panel-heading Your Donations
						.panel-body You donated 
							b $#{total}.

				.panel.panel-default
					.panel-heading Top Donators
					.panel-body
						each donator in donators
							.media
								a.pull-left(href='/user/' + donator)
									img.media-object.img-circle(src=logos[donator], width='24', height='24')
								.media-body
									h4.media-heading
										a(href='/user/' + donator)=displayNames[donator]