extends layout

block content
	.splash
		.container
			.row
				.col-md-12.animation-fade-in-right
					h1 That's an error!
	.container
		.row
			.col-md-12.animation-fade-in-down
				h3
					|If the error starts with "TokenError", try refreshing/logging in again!
					br
					| For any other errors, please report on forums!
				br
				if error && error.stack
					.alert.alert-danger=error.stack
				else
					.alert.alert-danger=error
				- console.log(error)