extends layout

block content
	.splash.bg-material-light-blue
		.container
			.row
				.col-md-12
					h1 Quick Start Guide
	.container
		.row
			.col-md-12
				.alert.alert-danger
					strong Warning.
					|  This guide is desgined to be as simple as it's humanly possible. Honestly, if you can't understand what's happening here, just leave. Leave, and don't come back. Thanks.

				.page-header
					h1
						| Step 1
						small  Logging in.

		.row
			.col-md-9
				p
					| Logging in is simple! Just look at the top right corner of the page.
					br
					| You should see a login button. If you don't see it, you are probably logged in already!
					br
					| Well, if you don't see anything though, you're probably using a phone or tablet.
					br
					| Please don't do that. Get a computer. They're pretty cheap nowadays.
					br
					| If you have to use an 
					b UNSUPPORTED
					|  device anyways, I have no idea where the button might be.
					br
					| Maybe on the left. Bottom. Hidden under three menus. Behind the couch. In your ass.
					br
					| I don't fucking care, just find it. If you 
					b STILL
					|  can't fucking find it, just click this: 
					a(href='/auth/twitch') A CONVENIENT LOGIN LINK.
					|  Fuck you.
			.col-md-3
				img.image-border(src='http://i.hatsu.tv/PlG1Q.png', style='transform: rotate(15deg);')

		.row
			.col-md-12
				.page-header
					h1
						| Step 2
						small  Finding the dashboard.

		.row
			.col-md-3
				img.image-border(src='http://i.hatsu.tv/972mm.png', style='transform: rotate(-7deg);')
			.col-md-9
				p
					| Okay, now that you solved one of the biggest mysteries in your life, time for another one.
					br
					| In the same place that you previously found a login button, there should be your avatar and name!
					br
					b CLICK ON THAT.
					br
					| You should see a beautiful dropdown menu with an amazing link to Dashboard.
					br
					| Guess what you have to do now. No, you can't eat it. No. NO. 
					b STOP EATING IT.

		.row
			.col-md-12
				.page-header
					h1
						| Step 3
						small  Enabling Mikuia.

		.row
			.col-md-9
				p
					| Congratulations, you've made it further than 97% of Twitch userbase.
					br
					| Go call your mom, tell her that she wasn't lying when she called you special.
					br
					| You're in the dashboard now, you should see a friendly red message. 
					b READ IT.
					br
					| It says everything you fucking have to know. Seriously.
					br
					| Click the Settings button on the read message. Just click it, stop asking questions.
					br
					| Now, you can press the dreaded 
					b Enable
					|  button that half of the human population spent centuries searching for.
					br
					| Woo.
			.col-md-3
				img.image-border(src='http://i.hatsu.tv/GpJFn.png', style='transform: rotate(7deg);')


		.row
			.col-md-12
				.page-header
					h1
						| Step 4
						small  Selecting your plugins.

		.row
			.col-md-4
				img.image-border(src='http://i.hatsu.tv/A1cY3.png', width='300', style='transform: rotate(-10deg);')
			.col-md-8
				.alert.alert-warning
					strong Warning. 
					| Mikuia won't magically join your channel immediately. Someday, a Join button will be added and this section updated, but for now, Mikuia will only join when you're live. DON'T be surprised that nothing works when you're offline.

				p
					| Plugins. Those are truly magic things that make stuff work. They can automatically update stuff, they give you useful commands.
					br
					| Sometimes, they even let you do things outside of Twitch.
					br
					| They are truly great. Learn to respect them. Yo.
					br
					| You should already be on the Settings page of the Dashboard by now. Great.
					br
					| After you enable Mikuia, a list of plugins should pop up. Enable things you need/want/desire.

		.row
			.col-md-12
				.page-header
					h1
						| Step 5
						small  Configuring plugins.

		.row
			.col-md-8
				p
					| Awesome, you enabled a plugin. Or maybe few of them. Or all of them. Still counts.
					br
					| Now, for every plugin you enabled, a settings box should appear.
					br
					| Carefully read through the options, and personalize your settings.
					br
					| The gray text in fields is a default value that will be used for the option if you don't specify anything.
					br
					| Some fields are called 'Format' fields. Those fields mostly allow you to customize the messages from various events.
					br
					| We're not going to go into details of that here though. Actually, if you have to read this guide, you probably shouldn't try to change anything there.
			.col-md-4
				img.image-border(src='http://i.hatsu.tv/8ys9u.png', width='300', style='transform: rotate(5deg);')

		.row
			.col-md-12
				.page-header
					h1
						| Step 6
						small  Adding commands.

		.row
			.col-md-4
				img.image-border(src='http://i.hatsu.tv/pKxLm.png', width='300', style='transform: rotate(-5deg);')
			.col-md-8
				p
					| Another amazing feature that you will probably want to use! Commands!
					br
					| Just navigate to Commands from your Dashboard. You should understand that sentence by now.
					br
					| If you don't, start running before I stab you in the face with a spoon.
					br
					| From here, you can see all your existing commands, and add new ones.
					br
					| Some commands won't appear or work if you don't enable the corresponding plugin.
					br
					| The most used command handler is called 
					b base.dummy
					| .
					br
					| It lets you set a static message as the command response.
					br
					| After you add a command, or enter the settings menu from the list, you'll see some configurable settings.
					br
					| From here, you can select if the command should be used only by broadcasters, mods, subs, add a coin cost or minimal level.
					br
					| It's pretty straight-forward, good luck.

		h3
			| That's it for now. You should now have a vague understanding on how the fuck this thing works.
			br
			| Go experiment, have some fun, figure stuff out. For more advanced features, check out the additional guides that don't yet exist.
			br
			| You can make them yourself. That'll surely teach you how to use those features.
			br
			| Peace, out.
			.pull-right - Hatsuney
