doctype html
html
	head
		link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/mikuia.css', rel='stylesheet', type='text/css')
	body
		nav.navbar.navbar-default.navbar-fixed-top.navbar-mikuia(role='navigation')
			.container
				.navbar-header
					a.navbar-brand(href='/') Mikuia

				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(path == '/community' ? 'active' : undefined))
							a(href='/community') Home
						li(class=(path == '/streams' ? 'active' : undefined))
							a(href='/streams') Streams
		block content