include mixins/level
include mixins/levelOverview
include mixins/levelProgress
include mixins/stream
include mixins/userHeader

doctype html
html
	head
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
		link(href='/assets/global/plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
		link(href='//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/yeti/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='/css/mikuia.css', rel='stylesheet', type='text/css')
		title=Mikuia.settings.bot.name
	body(class=(path == '/' ? 'mikuia' : undefined))
		nav.navbar.navbar-default.navbar-fixed-top.navbar-mikuia(role='navigation')
			.container
				.navbar-header
					a.navbar-brand(href='/')=Mikuia.settings.bot.name

				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li(class=(path == '/streams' ? 'active' : undefined))
							a(href='/streams')
								i.fa.fa-video-camera
								|  Streams
						li(class=(path.indexOf('/levels') == 0 ? 'active' : undefined))
							a(href='/levels')
								i.fa.fa-star-o
								|  Levels
						li(class=(path.indexOf('/guide') == 0 ? 'active' : undefined))
							a(href='/guide')
								i.fa.fa-book
								|  Guide
						li(class=(path == '/supporter' ? 'active' : undefined))
							a(href='/supporter')
								i.fa.fa-money
								|  Supporter
						li(class=(path == '/stats' ? 'active' : undefined))
							a(href='/stats')
								i.fa.fa-line-chart
								|  Stats
						li(class=(path == '/leagues' ? 'active' : undefined))
							a(href='/leagues')
								i.fa.fa-trophy
								|  Leagues
					if !user
						ul.nav.navbar-nav.navbar-right.pull-right
							li
								a(href='/auth/twitch') Login with Twitch
					else
						ul.nav.navbar-nav.navbar-right.pull-right
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									img.img-circle(src='/img/avatars/' + user.username + '.jpg', width='18', height='18')
									|  #{user._json.display_name} 
									span.caret
								ul.dropdown-menu(role='menu')
									li
										a(href='/user/' + user.username) Profile
									li
										a(href='/dashboard') Dashboard
									li
										a(href='/logout') Logout
					if Mikuia.settings.bot.disableChat
						p.navbar-text.navbar-right.navbar-alert #{Mikuia.settings.bot.name} is currently globally banned from the chat.
		block content
		.container
			hr
			.row
				.col-md-3
				.col-md-3
				.col-md-3
					small.text-muted
						b Art by 
						a(href='http://pixiv.me/cillia') cillia 
						|  <3
				.col-md-3
					small.text-muted
						b Made by:
						br
						| Hatsuney 
						small
							small
								small.text-muted and Vende
						br
						| Pasteleft 2013-2015
		br
		block footerScript
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js')
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
		script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript').
			$('[rel=tooltip]').tooltip({
				container: 'body',
				html: true
			})
			$('.timeago').timeago()

		script.
			var _prum = [['id', '548875e2abe53d37782bdebd'],
			             ['mark', 'firstbyte', (new Date()).getTime()]];
			(function() {
			    var s = document.getElementsByTagName('script')[0]
			      , p = document.createElement('script');
			    p.async = 'async';
			    p.src = '//rum-static.pingdom.net/prum.min.js';
			    s.parentNode.insertBefore(p, s);
			})();