extends layout

block content
	.splash.bg-material-red
		.container
			.row
				.col-md-12.animation-fade-in-right
					h1 Levels
	.container
		.row
			.col-md-8.animation-fade-in-right
				table.table.table-bordered.table-striped
					thead
						tr
							th Channel
							th Users
							th Your Rank
							th Your Level
							th Progress
					tbody
						each stream in streams
							tr
								td
									.media
										a.pull-left(href='/levels/' + stream)
											img.img-circle.media-object(src='/img/avatars/' + stream + '.jpg', width=32, height=32)
										.media-body
											a.btn.btn-info.btn-xs.pull-right(href='http://twitch.tv/' + stream) Watch
											h4.media-heading
												a(href='/levels/' + stream) #{displayNames[stream]} Level
								td
									h4=userCount[stream]
								if user
									if experience[stream] != undefined
										- var exp = experience[stream]
										- var level = Mikuia.Tools.getLevel(exp)
										td
											h4
												a(href='/levels/' + stream) ##{ranks[stream]}
										td.align-center
											h3
												+level(level, false, true)
										td(style='width: 20%;')
											+levelProgress(exp)
									else
										td.text-muted # -
										td.text-muted -
										td.text-muted No progress.
								else
									td.text-muted -
									td.text-muted -
									td.text-muted Login to see your progress!
			.col-md-4.animation-fade-in-left
				if user
					h2
						+level(level)
					br
					.panel.panel-default
						.panel-heading Your Levels
						.panel-body
							+levelOverview(rawExperience)
						.panel-footer
							a(href='/user/' + user.username + '/levels') See more >>