extends layout

block content
	.splash.bg-material-red
		.container
			.row
				.col-md-12.animation-fade-in-right
					h1 Slack Invite
	.container
		.row
			.col-md-12.animation-fade-in-right
				h1
					| Please check your email for an invite.
					.text-danger Remember to use your Twitch username as the Slack username.