extends layout

block content
	.splash
		.avatars
			ul
				each avatarFile in Mikuia.Tools.getAvatars(500)
					li
						img(src='/img/avatars/' + avatarFile, width='64', height='64')
		.container
			.row
				.col-md-12
					h1 Streams