extends layout

block content
	+userHeader(Channel)
	.container
		.row
			.col-md-8
				.panel.panel-default
					.panel-heading Bio
					.panel-body
						if Channel.bio != 'null' && Channel.bio != null
							i=Channel.bio
						else
							i.text-muted No bio.
			.col-md-4
				.panel.panel-default
					.panel-heading Levels
					.panel-body
						+levelOverview(Channel.experience)
					.panel-footer
						a(href='/user/' + Channel.name + '/levels') See more >>