extends layout

block content
	+userHeader(Channel)
	.container
		.row
			.col-md-8
				.panel.panel-default
					.panel-heading Bio
					.panel-body
						if Channel.bio != 'null' && Channel.bio != null
							i=Channel.bio
						else
							i.text-muted No bio.
			.col-md-4

				.panel.panel-default
					.panel-heading Badges
					.panel-body
						if Object.keys(Channel.badges).length > 0
							each badge, badgeId in Channel.badges
								img(src='/img/badges/' + badgeId + '.png', width='64', height='64', rel='tooltip', title=('<b>' + badge.displayName + '</b><br />' + badge.description + '<br />' + Mikuia.Tools.colorRarity(badge.rarity)))
						else
							.text-muted No badges yet.

				.panel.panel-default
					.panel-heading Levels
					.panel-body
						+levelOverview(Channel.experience)
					.panel-footer
						a(href='/user/' + Channel.name + '/levels') See more >>