p.
	This handler provides basic information about the character's PvP stats.
h3 Examples:
br
.well <%pvp.rbg.rating%> Rating.
pre
	b User:
	|  !pvp
	br
	b #{Mikuia.settings.bot.name}:
	|  2345 Rating.