extends ../../../web/views/layout

block content
	.page-head
		.page-title
			h1
				| osu! authentication
				small  because we have to know you're you, duh
	ul.page-breadcrumb.breadcrumb
		li
			a(href='/dashboard') Dashboard
			i.fa.fa-circle
		li
			a Plugins
			i.fa.fa-circle
		li
			a osu!
			i.fa.fa-circle
		li
			a osu! authentication

	.row
		.col-md-4
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs.font-purple-medium
						span.caption-subject.bold.uppercase.font-purple-medium Guide
						span.caption-helper  heh
				.portlet-body
					h2 How to authenticate?
					br
					ol
						li
							| Send 
							b=Mikuia.settings.plugins.osu.name
							|  in-game this message:
							pre=verifyCommand
						li You should get a code. Put it in the field on the other box.
						li Click the button.
						li Why are you still reading this, just do it.	
		.col-md-4
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs.font-purple-medium
						span.caption-subject.bold.uppercase.font-purple-medium Authentication
						span.caption-helper  type your code lol
				.portlet-body.form
					form.form-horizontal(action='/dashboard/plugins/osu/auth', method='post')
						.form-body
							.form-group.form-md-line-input
								label.col-sm-3.control-label Auth Code
								.col-sm-8
									input.form-control(type='text', name='authCode')
									.form-control-focus
									span.help-block The code expires in one minute, gotta go fast!
						.form-actions
							button.btn.blue(type='submit') Save
										