extends ../../../web/views/layout

block content
	h3.page-title
		| osu! authentication 
		small because we have to know you're you, duh
	.page-bar
		ul.page-breadcrumb
			li
				i.fa.fa-home
				a(href='/dashboard') Dashboard
				i.fa.fa-angle-right
			li
				a(href='/dashboard/plugins') Plugins
				i.fa.fa-angle-right
			li
				a osu!
				i.fa.fa-angle-right
			li
				a osu! authentication
	.row
		.col-md-5
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs.font-purple-medium
						span.caption-subject.bold.uppercase.font-purple-medium Guide
						span.caption-helper  heh
				.portlet-body
					h3 How to authenticate?
					br
					ol
						li
							| Send 
							b=Mikuia.settings.plugins.osu.name
							|  in-game this message:
							pre=verifyCommand
						li You should get a code. Put it in the field on the other box.
						li Click the button.
						li Why are you still reading this, just do it.	
		.col-md-5
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs.font-purple-medium
						span.caption-subject.bold.uppercase.font-purple-medium Authentication
						span.caption-helper  type your code lol
				.portlet-body.form
					form.form(action='/dashboard/plugins/osu/auth', method='post')
						.form-body
							.form-group.form-md-line-input
								input.form-control(type='text', name='authCode')
								.form-control-focus
								label(for='authCode') Auth Code
								span.help-block The code expires in one minute, gotta go fast!
						.form-actions
							button.btn.btn-primary(type='submit') Save
										