extends layout

block content
	.row
		.col-md-12
			h3.page-title
				| Command
				small  yada yada settings yes omg very such much
			ul.page-breadcrumb.breadcrumb
				li
					i.fa.fa-home
					a(href='/dashboard') Dashboard
					i.fa.fa-angle-right
				li
					a(href='/dashboard/commands') Commands
					i.fa.fa-angle-right
				li 
					a Settings
	.row
		.col-md-6
			.panel.panel-default
				.panel-heading
					h3.panel-title Command settings for #{command}
				if settings
					.panel-body.form
						form.form-horizontal(action='/dashboard/commands/save/' + command, method='post', role='form')
							.form-body
								+settings(settings, userSettings)
							.form-actions
								button.btn.blue(type='submit') Save
				else
					.panel-body
						.well.well-lg
							h4.block This command has no configurable settings.
							p
								| Uh, well, that happens. Please don't cry. Why are you crying? Now I'm crying too... ;_;
						a.btn.red(href='/dashboard/commands') Take me back, please...

block footerScript
	script(type='text/javascript').
