extends layout

block content
	.row
		.col-md-12
			h3.page-title
				| Dashboard
				small  stuff and more stuff
			ul.page-breadcrumb.breadcrumb
				li
					i.fa.fa-home
					a(href='/dashboard') Dashboard
			if !enabled
				.alert.alert-block.alert-danger
					h4.alert-heading Mikuia is not enabled on your channel!
					p
						| If you start complaining that it's not working without even trying to enable it, I'll fucking cut you.
					p
						a.btn.red(href='/dashboard/settings') Settings