extends layout

block content
	h3.page-title
		| Settings 
		small you can set stuff here :o
	.page-bar
		ul.page-breadcrumb
			li
				i.fa.fa-home
				a(href='/dashboard') Dashboard
				i.fa.fa-angle-right
			li
				a(href='/dashboard/settings') Settings	
			
	.row
		.col-md-6
			if !enabled
				- var className = 'font-red-sunglo'
			else
				- var className = 'font-green-sharp'
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs(class=className)
						span.caption-subject.bold.uppercase(class=className) Status
						span.caption-helper  sup
				.portlet-body
					if enabled
						p.lead Mikuia is enabled.
						a.btn.default(onclick="toggle('disable')") Disable
					else
						p.lead Mikuia is disabled.
						a.btn.green(onclick="toggle('enable')") Enable
		//- .col-md-6
		//- 	.portlet.light
		//- 		.portlet-title
		//- 			.caption
		//- 				i.fa.fa-cogs.font-yellow
		//- 				span.caption-subject.bold.uppercase.font-yellow Chat Control
		//- 				span.caption-helper  start and stop
		//- 		.portlet-body
		//- 			h1 meow
	.row			
		.col-md-12
			each pluginName in enabledPlugins.sort()
				if plugins[pluginName]
					- var plugin = plugins[pluginName]
					.portlet.light(id=pluginName)
						.portlet-title
							.caption
								i.fa.fa-cogs
								span.caption-subject.bold.uppercase=plugin.manifest.name
								span.caption-helper  plugin settings
						if plugin.manifest.settings && plugin.manifest.settings.channel
							.portlet-body.form
								form.form(action='/dashboard/settings/save/' + pluginName, method='post', role='form')
									.form-body
										+settings(plugin.manifest.settings.channel, settings[pluginName], categories[pluginName])
									.form-actions
										button.btn.blue(type='submit') Save
						else
							.portlet-body
								.text-muted This plugin has no configurable settings.


block footerScript
	script(type='text/javascript').

		function toggle(status) {
			$.post('/dashboard/settings/toggle', {
				status: status
			}).done(function() {
				location.reload()
			})
		}