extends layout

block content
	.row
		.col-sm-12
			h3.page-title
				| Settings
				small  where you change stuff
			ul.page-breadcrumb.breadcrumb
				li
					i.fa.fa-home
					a(href='/dashboard') Dashboard
					i.fa.fa-angle-right
				li
					a(href='/dashboard/settings') Settings
	.row
		.col-sm-4
			if !enabled
				- var className = 'panel-warning'
			else
				- var className = 'panel-success'
			.panel(class=className)
				.panel-heading
					h3.panel-title Status
				.panel-body
					if enabled
						p.lead Mikuia is enabled.
						a.btn.red(onclick="toggle('disable')") Disable
					else
						p.lead Mikuia is disabled.
						a.btn.green(onclick="toggle('enable')") Enable
		.col-sm-8
			if enabled
				.panel.panel-info
					.panel-heading
						h3.panel-title Plugins
					.panel-body
						table.table
							thead
								tr
									th Name
									th Description
									th Actions
							tbody
								each plugin, pluginName in plugins
									if !plugin.manifest.hidden
										tr
											td=plugin.manifest.name
											td=plugin.manifest.description
											td
												if enabledPlugins.indexOf(pluginName) > -1
													a.btn.green(onclick="pluginToggle('" + pluginName + "', 'disable')") Enabled
												else
													a.btn.red(onclick="pluginToggle('" + pluginName + "', 'enable')") Disabled
	.row
		each pluginName in enabledPlugins
			- var plugin = plugins[pluginName]
			.col-sm-6
				.panel.panel-default
					.panel-heading
						h3.panel-title=plugin.manifest.name
					if plugin.manifest.settings && plugin.manifest.settings.channel
						.panel-body.form
							form.form-horizontal(action='/dashboard/settings/save/' + pluginName, method='post', role='form')
								.form-body
									+settings(plugin.manifest.settings.channel, settings[pluginName], categories[pluginName])
								.form-actions
									button.btn.blue(type='submit') Save
					else
						.panel-body
							.text-muted This plugin has no configurable settings.

block footerScript
	script(type='text/javascript').

		function pluginToggle(name, status) {
			$.post('/dashboard/settings/plugins/toggle', {
				name: name,
				status: status
			}).done(function() {
				location.reload()
			})
		}

		function toggle(status) {
			$.post('/dashboard/settings/toggle', {
				status: status
			}).done(function() {
				location.reload()
			})
		}