p.
	This handler provides the list of runes on the currently used rune page.
	#[br]
	Kind of spammy.
h3 Examples:
br
pre
	b User:
	|  !runes
	br
	b #{Mikuia.settings.bot.name}:
	|  9x Greater Mark of Magic Penetration, 9x Greater Glyph of Magic Resist, 9x Greater Seal of Armor, 3x Greater Quintessence of Ability Power