p.
	This handler provides information about the currently used mastery page name and the summary of points assigned on Attack/Defense/Utility pages.
h3 Examples:
br
pre
	b User:
	|  !masteries
	br
	b #{Mikuia.settings.bot.name}:
	|  Mastery Page 3: 21/9/0