p.
	This handler attempts to parse the argument as an osu! beatmap link, and carries out an usual request process.
	#[br]
	Do not use this handler together with "Global Requests" setting or it'll cause double requests and chat messages.
h3 Examples:
br
pre
	b User:
	|  !req https://osu.ppy.sh/b/407362
	br
	b #{Mikuia.settings.bot.name}:
	|  [Ranked] MODEL - Bir Melek Vardi [Normal] (by Sniqht), 140 BPM, 1.89 stars (12.38pp for 100%)