p.
	This handler responds with Sandstorm.
	#[br]
	Seriously. It's not really working and probably won't work anytime soon.
h3 Examples:
br
pre
	b User:
	|  !np
	br
	b #{Mikuia.settings.bot.name}:
	|  Darude - Sandstorm