extends ../../../web/views/layout

block content
	h3.page-title
		| Coins 
		small shiny coins
	.page-bar
		ul.page-breadcrumb
			li
				i.fa.fa-home
				a(href='/dashboard') Dashboard
				i.fa.fa-angle-right
			li
				a(href='/dashboard/plugins') Plugins
				i.fa.fa-angle-right
			li
				a Coins
		.page-toolbar
			.btn-group.pull-right
				a.btn.btn-warning.btn-fit-height#edit(data-target='#editModal', data-toggle='modal') Edit someone's coins
	.row
		.col-md-12
			.portlet.light
				.portlet-title
					.caption
						i.fa.fa-cogs.font-yellow-gold
						span.caption-subject.bold.uppercase.font-yellow-gold Coins
						span.caption-helper  yeah coins
				.portlet-body
					table.table.table-striped.table-hover
						thead
							tr
								th(width='30%') User
								th Balance
								th Actions
						tbody
							each md in coins
								if md.length > 0
									- var channel = md[0]
									- var coinAmount = md[1]
									tr
										td
											.media
												a.pull-left(href='/user/' + channel)
													img.img-circle.media-object(src=logos[channel], width=24, height=24)
												.media-body
													h4.media-heading
														a(href='/user/' + channel, style=(isStreamer[channel] ? undefined : 'color: #999;'))=displayNames[channel]

										td
											h3=coinAmount
										td
											a.btn.input-sm.green(onclick='give(\'' + channel + '\')') Give
											a.btn.input-sm.blue(onclick='set(\'' + channel + '\')') Set
											a.btn.input-sm.red(onclick='take(\'' + channel + '\')') Take

	.modal.fade#editModal
		.modal-dialog
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal') &times;
					h4.modal-title Edit coins
				.modal-body
					form.form-horizontal
						.form-body
							.form-group.form-md-line-input
								label.col-md-3.control-label Username
								.col-md-9
									.input-group
										.input-group-addon
											i.fa.fa-user
										input.form-control#manualUsername(type='text')
										.form-control-focus
						
				.modal-footer
					a.btn.green(onclick='give($("#manualUsername").val())') Give
					|  
					a.btn.blue(onclick='set($("#manualUsername").val())') Set
					|  
					a.btn.red(onclick='take($("#manualUsername").val())') Take

block footerScript
	script(type='text/javascript').

		function give(username) {
			var coinAmount = prompt('How many coins do you want to give to ' + username + '?')

			if(coinAmount) {
				$.post('/dashboard/plugins/coins/edit', {
					method: 'give',
					amount: coinAmount,
					username: username
				}).done(function() {
					location.reload()
				})
			}

		}

		function set(username) {
			var coinAmount = prompt('How many coins should ' + username + ' have?')

			if(coinAmount) {
				$.post('/dashboard/plugins/coins/edit', {
					method: 'set',
					amount: coinAmount,
					username: username
				}).done(function() {
					location.reload()
				})
			}

		}

		function take(username) {
			var coinAmount = prompt('How many coins do you want to take from ' + username + '?')

			if(coinAmount) {
				$.post('/dashboard/plugins/coins/edit', {
					method: 'take',
					amount: coinAmount,
					username: username
				}).done(function() {
					location.reload()
				})
			}

		}