extends ../../../web/views/layout

block content
	.row
		.col-sm-12
			h3.page-title
				| Banned Words
				small  so people doesn't say what they shouldn't
			ul.page-breadcrumb.breadcrumb
				li
					i.fa.fa-home
					a(href='/dashboard') Dashboard
					i.fa.fa-angle-right
				li
					a Plugins
					i.fa.fa-angle-right
				li
					a Mod Tools
					i.fa.fa-angle-right
				li
					a Banned Words
	.row
		.col-md-4
			.panel.panel-default
				.panel-heading
					h3.panel-title Banned Words
				.panel-body
					table.table.table-condensed
						thead
							tr
								th Word
								th Actions
						tbody
							each word in words
								tr
									td=word
									td
										a.btn.input-sm.red.remove(href='#', title=word) Remove
				
					.input-group
						.input-group-btn
							button.btn.red#add(type='button') Add word
						input.form-control#word

block footerScript
	script(type='text/javascript').
		$('#add').click(function() {
			$.post('/dashboard/plugins/mod/words/add', {
				word: $('#word').val()
			}).done(function() {
				location.reload()
			})
		})

		$('.remove').click(function() {
			$.post('/dashboard/plugins/mod/words/remove', {
				word: $(this).attr('title')
			}).done(function() {
				location.reload()
			})
		})